.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  /* This is achievement specific, not a very generalized drawer. */
  min-height: 9rem;
  position: relative;
  transition: width 0.25s ease-out;
  width: 0;
}

.container.open {
  width: 100%;
}

.content {
  display: flex;
  overflow-x: scroll;
  transition: width 0.25s ease-out;
  width: 0;
}

.content.open {
  width: 100%;
}

/* When !open, button is edged into view on the left side from the closed drawer. */
.button {
  align-items: center;
  background-color: rgb(240,240,240);
  border-radius: 0 100% 100% 0;
  display: flex;
  height: 4.6rem;
  justify-content: center;
  right: -2.83rem; /* Visible relative to width of button. */
  position: absolute;
  width: 2.83rem;
}
.button.open {
  border-radius: 100% 0 0 100%;
  position: static;
}
