<!doctype html>
<html>
  <head lang="en">
    <%= require('html-loader!./head-compatibility.html') %>
    <%= require('html-loader!./favicons.html') %>
    <title>jeremy osborne</title>
    <%= require('html-loader!./og.html') %>
    <%= require('html-loader!./css-links-ubiquitous.html') %>
    <%= require('html-loader!./ga.html') %>
  </head>
  <body>
    <%= require('html-loader!./site-header.html') %>
    <div class="page-content">
      <%= require('html-loader!./social-links.html') %>
    </div>
  </body>
</html>
