{
  "extends": ["standard", "standard-react"],
  "env": {
    "jest": true,
  },
  "parser": "babel-eslint",
  "plugins": [
    "flowtype",
    "import",
    "react-hooks",
  ],
  "rules": {
    "comma-dangle": ["error", "only-multiline"],
    "import/no-unresolved": ["error"],
    // This prevents conflict with react/jsx indenting. Ugh.
    "indent": ["error", 2, {
      "ignoredNodes": ["JSXElement"],
      "SwitchCase": 1,
    }],
    "object-curly-spacing": ["error", "never"],
    // Editor and eslint rules are fighting in the JSX autoformatting.
    "operator-linebreak": ["off"],
    "react/prop-types": ["off"],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "yoda": ["off"],
  },
  "settings": {
    "import/extensions": [".js", ".jsx"],
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"],
        "moduleDirectory": [
          "node_modules",
          "src/apps",
          "src",
        ],
      },
    },
  },
}
